<div class="container">
  <h1 class="mt-4 mb-3">Welcome to Greenscapes</h1>
  
  <div>
    <p class="lead">
      Greenscapes Landscaping Services Management System is a database-driven web application that allows
      the database administrator to easily access and manipulate data from the database.
    </p>
    <p class="lead">
      Use the navigation bar at the top of the page to access different sections of the system,
      including appointments, employees, customers, services, and invoices.
    </p>
    <p class="text-muted">Created by Nathaniel Baird and Carlos Alvarado</p>
  </div>
</div>
