<div class="container">
  <h1 class="mb-4">Invoices</h1>
  <p class="lead">A list of all invoices</p>

  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Invoice Date</th>
        <th>Total Cost</th>
        <th>Elapsed Time</th>
      </tr>
    </thead>
    <tbody>
      {{#each invoices}}
        <tr>
          <td>{{this.date}}</td>
          <td>{{this.totalCost}}</td>
          <td>{{this.elapsedTime}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
